<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ViewPort>
    <int>-7</int>
    <int>-8</int>
    <int>176</int>
    <int>-114</int>
    <int>0</int>
    <int>0</int>
  </ViewPort>
  <WindowTop>0</WindowTop>
  <WindowLeft>0</WindowLeft>
  <WindowWidth>1936</WindowWidth>
  <WindowHeight>1092</WindowHeight>
  <tspFile>
    <X>145</X>
    <Y>0</Y>
  </tspFile>
  <tspSearch>
    <X>224</X>
    <Y>0</Y>
  </tspSearch>
  <tspPlayer>
    <X>556</X>
    <Y>0</Y>
  </tspPlayer>
  <tspMenu>
    <X>3</X>
    <Y>0</Y>
  </tspMenu>
  <SplitterDistance>719</SplitterDistance>
  <RecentlyUsed>
    <string>D:\Repos\ConsoleApplication1\ConsoleApp\music.xml</string>
  </RecentlyUsed>
  <BypassUSBControllers>true</BypassUSBControllers>
</AppSettings>